/*general style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}



/*header style*/
header {
    text-align: center;
    padding: 1em, 2em;
    background-color: #0073e6;
    color: #fff;
}

h1 {
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 1em;
}

header nav {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    transition: 0.3s;
}
header nav a:hover {
    color: #ffdd57;
}



/* Footer Styling */
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    font-size: 0.9em;
}

footer a {
    color: #ffdd57;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}



/* copied message*/
#confirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1em 2em;
    border-radius: 8px;
    font-size: 1.1em;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Ensure it's above other content */
    display: none; /* Initially hidden */
}



/* intro section*/
.intro {
    padding: 2em;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
}

.intro p {
    font-size: 1.1em;
    color: #555;
}



/*Major information*/
.education-content {
    margin: 2em auto;
    padding: 1em;
}

.education-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
    margin-bottom: 2em;
}

.education-section h2 {
    color: #0073e6;
    margin-bottom: 0.5em;
}

.education-section p {
    font-size: 1em;
    color: #555;
    margin-bottom: 1em;
}

.education-section ul {
    list-style-type: disc;
    padding-left: 1.5em;
    color: #333;
}

.education-section ul li {
    margin-bottom: 0.5em;
}



/* Row Styling */
.row {
    display: flex;
    gap: 2em; /* Space between columns */
    margin-bottom: 2em; /* Space between rows */
}



/* Box Styling */
.box {
    flex: 1;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.box h3 {
    color: #0073e6;
    margin-bottom: 0.5em;
}

.box ul {
    list-style-type: disc;
    padding-left: 1.5em;
    color: #333;
}

.box ul li {
    margin-bottom: 0.5em;
}




































